
{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <form method="post" action="{{ path('odoo_connector_addPurchase') }}">

            <div class="form-group">
                <label for="exampleFormControlSelect1">Fournisseur</label>
                <select class="form-control" id="exampleFormControlSelect1" name="vendor">
                    {% for vendor in vendors %}
                    <option value="{{ vendor.id }}">{{ vendor.name }}</option>
                    {% endfor %}
                    </select>
            </div>

            <input type="submit" value="Ajouter"
                   class="btn btn-primary" />
        </form>
    </div>
{% endblock %}




