{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <div class="container">
        <h1> Ajouter un Client</h1><br>
{{ form_start(form) }}
    {{ form_widget(form) }}

<input type="submit" value="Ajouter"
       class="btn btn-primary" />
{{ form_end(form) }}
    </div>
{% endblock %}
